.wrapper {
	border: 1px solid black;
	padding: 1rem;
	/*background: #f5f5f5;*/
}

.wrapper input[type="text"],
.wrapper textarea {
	width: 100%;
}

.wrapper h1 {
	margin: 0;
	font-family: sans-serif;
}

.label-text {
	display: block;
	font-weight: 700;
	text-transform: uppercase;
}

.block {
	padding: 1rem 0;
	background: #fff;
	border: 1px solid color(black alpha(50%));
}

.block.invalid {
	background: color(red alpha(20%));
}

.block.valid {
	background: color(green alpha(20%));
}

.color-block-data {
	color: green;
}

.hash {
	padding: 1rem;
	background: #ddd;
}

.form-group {
	padding: 0.5rem 1rem;
}

.validity {
	margin: 0;
	font-size: 2em;
	text-align: center;
}
